* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(135deg, #eceff1, #f5f7fa);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
  color: #333;
}

.container-main {
  background: #ffffff;
  width: 100%;
  max-width: 600px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}


h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #2d3436;
  font-size: 1.8rem;
}


.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

input[type="text"],
select {
  flex: 1;
  min-width: 150px;
  padding: 12px;
  border: 1px solid #dcdde1;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s;
  font-size: 1rem;
}

input:focus,
select:focus {
  border-color: #0984e3;
}

button {
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  background: #0984e3;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #0652dd;
}